<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
string = input("Enter the string to calculate it's length:");
print("length of",string, "is",len(string))

Enter the string to calculate it's length:shivani
length of shivani is 7

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
string = input("Enter the string:");
map = {}
for i in string:
    keys = map.keys()
    if i in keys:
        map[i] += 1
    else:
        map[i] = 1
print(map)

Enter the string:shivani.garlapati
{'s': 1, 'h': 1, 'i': 3, 'v': 1, 'a': 4, 'n': 1, '.': 1, 'g': 1, 'r': 1, 'l': 1, 'p': 1, 't': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
intList = [int(i) for i in input("Enter list entries:").split()]
print("Sum of list elements is = ",sum(intList))

Enter list entries:4 5 6 7
Sum of list elements is =  22

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
string = input("Enter the string:");
result = "";
firstCharPresent = False
if len(string) == 0:
  print("Enter a Valid string");
else:
  firstChar = string[0];
  for i in string:
      if i == firstChar:
        if firstCharPresent == True:
          result += "$"
        else:
          firstCharPresent = True;
          result += i;
      else:
        result += i;
  print(result)

Enter the string:sunscreen
sun$creen

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
pi = 3.14
a = int(input("Enter value of a"));
b = int(input("Enter value of b:"));
S = pi * pow((1 + a/b), 3)
print(S)

Enter value of a10
Enter value of b:20
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}; 
dic2={3:30, 4:40}; 
dic3={5:50,6:60};
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
values = input("enter the elements for tuple (space separated):")
list = values.split(" ")
tup = tuple(list)
element = input("enter the element to check whether it is exisiting or not: ")
if (element in tup) == True:
  print(element, "is existing in Tuple")
else:
  print(element, "is not existing in Tuple")

enter the elements for tuple (space separated):corona
enter the element to check whether it is exisiting or not: yes
yes is not existing in Tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [4]:
import sys
values = input("enter the elements for set (space separated):")
list = values.split(" ")
mainSet = set(list)

def maxFunc(nums):
  maxi =  -sys.maxsize - 1
  for i in nums:
    maxi = max(maxi, int(i))
  return maxi

def minFunc(nums):
  mini = sys.maxsize
  for i in nums:
    mini = min(mini, int(i))
  return mini

#Find maximum value
print("max=",maxFunc(mainSet))
#Find minimum value
print("min=",minFunc(mainSet))

enter the elements for set (space separated):1 22 143 2897
max= 2897
min= 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:

import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
def listOf(l):
  c = 0;
  for i in l:
    c +=1;
  return c
#print(len(list(studnet_list)))
groups = [];
while listOf(studnet_list)>=5:
    random.shuffle(studnet_list)
    groups.append(studnet_list[:3])
    #print(studnet_list)
    studnet_list.pop(0)
    studnet_list.pop(0)
    studnet_list.pop(0)
groups.append(studnet_list)
print(groups)

[['snd0097', 'dy0091', 'bk0301'], ['rak0120', 'pn0159', 'nm0547'], ['vmb0067', 'ss1995', 'pc0353'], ['ds0761', 'yye0005', 'tv0119'], ['mv0299', 'rrk0058', 'at0768'], ['at0739', 'rs0850', 'msp0174'], ['dd0420', 'vl0135', 'sg0940', 'spk0057']]